# Required
AUTH_USERNAME=admin
AUTH_PASSWORD=admin

# Server
PORT=3500
LOG_LEVEL=info

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=caddy
DB_USER=caddy
DB_PASSWORD=caddy

# Seed
SEED_EMAIL=admin@caddy.local
SEED_PASSWORD=admin
SEED_ROLE=admin
